* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

.upper-container{
    background-image: url(yellow.jfif);
    /* scale:2; */
    width: 100%;
    height: 40%;
    position: relative;
}


/* .searchBox{
    position: relative;
    padding: 20px;
    top: 50px;
    margin: 0px 350px;
    border-radius: 15px 15px 15px 15px;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
} */
.input-box{
    position: absolute;
    display: inline-block;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    padding: 15px;
    top: 30px;
}
.upper-container .date-time{
    position: absolute;
    bottom: 40px;
    right : 50px;
    font-size: 20px;
    font-weight: bold ;  
}
.weather-body{
    text-align: center;
    background-color: rgb(0, 187, 255);
    height: 500px;
}
.city{
    padding: 15px;
    font-size: 30px;
    font-weight: 600;
}
.temp{
    font-size: 65px;
    padding: 10px;
    font-weight: bold ;
}
/* .min-max{
    font-size: 25px;
    font-weight: 600;
} */
.weather{
    padding: 5px;
    font-size: 30px;
    color: rgb(8, 0, 246);
    font-weight: 600;
}

ul .icon-container{
    white-space: nowrap;
    max-width: 100%;
    margin: 0 auto;
    text-decoration: none;
    padding: 30px;
}
li{
    display: inline-block;
    font-size: 18px;
    width: 25%;
    font-weight: 550;
}
li img{
    max-width: 20%;
}
li p{
    padding: 10px;
    font-size: 30px;
    font-weight: 800;
}
li span{
    font-size: 20px;
}
.weather-days{
    background-color: rgba(0, 179, 255,0.5);
}
.W-days{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    max-width: 56%;
    margin: 0 auto;
    text-decoration: none;
}
.W-days li{
    text-align: center;
    background-color: rgb(0, 179, 255);
    border-radius: 10px;
    padding: 8px;
    font-size: 18px;
    /* width: 25%; */
    font-weight: 550;
}
.W-days li p{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}
.W-days li .min-max{
    text-align: center;
    font-size: 15px;
}

/* ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-decoration: none;
    padding: 30px;
} */
/* li{
    display: inline-block;
    font-size: 18px;
    width: 25%;
    font-weight: 550;
} */
/* img{
    display: inline-block;
    text-align: center;
    margin: 20px 20px;
    white-space: nowrap;
    width: 30%;
    max-width: 100%;
} */

.animation{
    position: absolute;
    bottom: 0px;
    right : 640px;
    
}

#grad {
    background-image: linear-gradient(rgb(80, 75, 75), rgb(232, 232, 218));
  }
